.btn-secundario{
    display:inline-block;
    margin-top:15px;
    padding:14px 30px;
    background:#0f172a;
    color:white;
    text-decoration:none;
    border-radius:40px;
    transition:.3s;
}

.btn-secundario:hover{
    background:#1e293b;
    transform:translateY(-3px);
}